<% layout("layouts/boilerplate") %>
<div class="row mt-3">
    <h3 class="titletag">Details of <%= listing.title %></h3>
    <div class="col-8 offset-2">
        
    </div>
    <div class="card col-12 d-flex flex-row align-items-start">
        <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_image">
         <!-- Content Section -->
         <div class="show-content ms-4">
            <ul>
                <li><strong>Title:</strong> <%= listing.title %></li>
                <li><strong>Description:</strong> <%= listing.description %></li>
                <li><strong>Price:</strong> &#8377;<%= listing.price.toLocaleString("EN-IN") %></li>
                <li><strong>Location:</strong> <%= listing.location %></li>
                <li><strong>Country:</strong> <%= listing.country %></li>
            </ul>
            <div class="btn-group">
                <a href="/listings/<%= listing._id %>/edit" class="btn edit-btn">Edit</a>
                <form id="delete-form" method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
                    <button type="button" class="btn btn-dark" onclick="confirmDelete()">Delete</button>
                </form>
            </div>
        </div>
    </div>
<br>
<hr/>
    <!-- Review Section  -->
    <div class="col-8 offset-3 mt-4">
        <h4>Leave a review</h4>
        <form 
            action="/listings/<%= listing.id %>/reviews" 
            method="post"
            novalidate
            class="needs-validation"
            >
            <div class="mb-3 mt-3">
                <div class="rating-box">
                    <header>How was your experience?</header>
                    <div class="stars">
                        <i class="fa-solid fa-star" data-value="1"></i>
                        <i class="fa-solid fa-star" data-value="2"></i>
                        <i class="fa-solid fa-star" data-value="3"></i>
                        <i class="fa-solid fa-star" data-value="4"></i>
                        <i class="fa-solid fa-star" data-value="5"></i>
                    </div>
                </div>
                <!-- Hidden input to store the rating -->
                <input type="hidden" name="review[rating]" id="rating-input">
            </div>
            <div class="mb-3 mt-3">
                <label for="comment">Comments</label><br>
                <textarea  
                    name="review[comment]" 
                    id="comment"
                    cols="30"
                    rows="5"
                    class="form-control"
                    required
                   
                ></textarea>
            </div>
            <button class="btn btn-outline-dark mb-3 mt-3">Submit</button>
        </form>
        <hr/>
        <p><b>All Reviews</b></p>
        <div class="row">
        <% for(review of listing.reviews) { %>
                <div class="card col-6 mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Jane Doe</h5>
                        <p class="card-text"><%= review.comment  %></p>
                        <p class="card-text"><%= review.rating  %></p>
                            <form 
                                class="mb-3"
                                method="POST" 
                                action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                                <button class="btn btn-dark" >Delete</button>
                            </form>
                    </div>
                </div>
                <% } %>
            </div>
    </div>
</div>
    

   